.card-div{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #4D2C5E;
    align-items: center;
    margin-top: 100px;
    border-radius: 10px;
}
.component-1{
    text-align: center;
    
}
.component-1 h2{
   color: white;
}
.component-1 h4{
    color: gray;
}
.card-div img{
    width: 50px;
}
.component-2 {
    text-align: center;
}
.component-2 h2 {
    color: white;

}
.component-2 h4{
    color: gray;
}
.component-3 {
    text-align: center;
}
.component-3 h2{
    color: white;
}
.component-3 h4{
    color: gray;
}
