.navbar {
   
    padding: 15px;
	width: 100%;
	height: 80px;
	
	display: flex;
	align-items: center;

  }
  ul {
	padding: 0;
	margin: 0;
}
.navbar ul.links {
	
	margin-left: auto;
	margin-right: 50px;
	list-style: none;
	
	display: flex;
	align-items: center;
	
	transition: 0.4s ease all, 0s ease 
}
.navbar li {
    
    padding: 0 15px;
    height: 80px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    
    transition: 0.4s ease all, 0s ease 
}
li:hover {
    color: white;
    cursor: pointer;
}
.navbar button {
	background: #4D2C5E;
	outline: none;
    color: white;
    font-size: 15px;
	font-weight: bold;
	padding: 20px 30px;
	border-radius: 25px;
	border: 1px  ;
	letter-spacing: 1px;
    margin-right: 100px;
    cursor: pointer;
}
button:hover {
    color: white;
}
.logo{
    margin-left: 100px;
    cursor: pointer;
}


